
</div>
<script>
    // computer browser, on any devic

setTimeout(function changeBackroundColor(){

const webPageHeading = document.getElementsByTagName("h1")[0];
webPageHeading.style.backgroundColor = "red";

}, 3000);


const btn = document.getElementById("btn");

btn.addEventListener("click",()=>{
const webPageHeading = document.getElementsByTagName("h1")[0];
webPageHeading.style.backgroundColor = "greenyellow";

});



</script>
</div>
</body>
</html>
