<%- include("partials/header"); -%>


<center>
    <div id="displayPage">
    <h1>Hello Node civilization</h1>
    <h2 class="background"><a id="link-background" href="civilization.html">go to HTML, CSS, JS and NPM package civilization</a></h2>
    <h3>The heading background will change to red in 3 seconds.</h3>
    <h4>Press the button below to change it back to its previous color</h4>
    <button id="btn">Button</button>
    <p class="background">A static, CSS styled, interactive, animated website by Ayanda .K </p>

    <h1><%=packageData%></h1>


</div>
</center>


<%- include("partials/footer"); -%>